<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Datos Estaciones</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Datos Estaciones</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3>Estación</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="stationForm"  (ngSubmit)="loadDataWeather()" class="d-flex justify-content-center">
                        <div>              
                            <select class="form-control" formControlName="codigo"  required>
                                <option *ngFor="let data of dataStation" value="{{data.id}}">{{data.name}}</option>
                            </select>
                            <div *ngIf="stationForm.get('codigo').invalid && (stationForm.get('codigo').dirty || stationForm.get('codigo').touched)">
                                <span *ngIf="stationForm.get('codigo').errors.required" class="text-danger">El valor es obligatorio.</span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark ml-3" style="height: 40px;">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="card col-12">
            <div class="card-header text-center">
                <h3>{{nameStation}}</h3>
            </div>
            <div class="card-body row">
                <canvas id="myChart0" class="mt-5 canvas"></canvas>
                <canvas id="myChart1" class="mt-5 canvas"></canvas>
                <canvas id="myChart2" class="mt-5 canvas"></canvas>
                <canvas id="myChart3" class="mt-5 canvas"></canvas>
                <canvas id="myChart4" class="mt-5 canvas"></canvas>
                <canvas id="myChart5" class="mt-5 canvas"></canvas>
            </div>
        </div>
    </div>
</section>
